// ------   GeoPlaneta Theme Variables  ------

// ___   Font   ___
$gp-font-family: 'Segoe UI', serif;
$gp-font-weight-normal: 400;
$gp-letter-spacing: 0;
$gp-text-transform: none;

$gp-tab-font-size: 16px;
// _________________

// ___   Colors   ___
$gp-default-text-color: #333333;

$gp-blue: #264892;
$gp-red: #c32323;
$gp-background: #E5E5E5;
// __________________

// ------   End GeoPlaneta Theme Variables  ------

$body-font-family: $gp-font-family;

// Buttons
$btn-letter-spacing: $gp-letter-spacing;
$btn-text-transform: $gp-text-transform;
$btn-font-weight: $gp-font-weight-normal;

// Tabs
$tab-font-size: $gp-tab-font-size;
$tabs-item-letter-spacing: $gp-letter-spacing;
$tab-font-weight: $gp-font-weight-normal;

.v-tab {
  text-transform: $gp-text-transform;
}
// GeoPlaneta theme colors

#Logo {
  :first-child {
    color: $gp-blue;
  }
  :last-child {
    color: $gp-red;
  }
}

.gp-background {
  background: $gp-background;
}

.full-height-container {
  height: calc(100vh - 48px);
  padding: 0;
  margin: 0;
}

.content-container {
  margin: 24px 24px 0 24px;
  padding: 0;
  box-shadow: 0 0 5px 0 #E5E5E5;
}

.v-btn--active.no-active::before {
  opacity: 0 !important;
}